.favorite-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 10;
}

.favorite-background {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.favorite-planet-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}


.no-favo {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    font-size: 3rem;
}

.yes-favo {
    text-align: center;
    color: whitesmoke;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    padding-top: 2rem;
}

