.planet-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.home-page-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, rgb(1, 1, 32), rgb(2, 19, 94));
    
}

.home-page-wrapper h1 {
    color: white;
    font-size: 4rem;
    position: relative;
    text-align: center;
    top: 20vh;
    font-family: 'Orbitron', sans-serif;
}

.home-navigation {
    position: absolute;
    top: 0;
    left: 0;
}

