.favoriteplanet-wrapper {
    border: 0.1rem solid white;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1.3rem;
    position: absolute;
    bottom: -150%; /* Flytta rutan längre nedåt än planeten */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
}

.planet:hover + .favoriteplanet-wrapper {
    bottom: calc(-100% - 2rem); /* Flytta rutan nedåt när vi hovrar över planeten */
}

.favoriteplanet-wrapper h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.favoriteplanet-wrapper p {
    font-family: 'Roboto Condensed', sans-serif;
}
