
.planetDetailsBackround {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.planetDetailsWrapper {
  width: 65vw;
  height: 75vh;
  border: 0.7rem solid rgb(255, 255, 255);
  position: absolute;
  bottom: 6vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.upperWrapper {
  display: flex;
  width: 100%;
  height: 50%;
}

.planetDetails {
  width: 50%;
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: large;
}
  
.planetMoon {
  width: 50%;
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: large;
}

.planetDetails h2 {
  font-size: 2rem;
}

.planetMoon h2 {
  font-size: 2rem;
 }

.planetInfo {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 0.3rem solid rgb(255, 255, 255);
  font-size: large;
}

.planetInfo p {
  margin: 0;
}

legend {
  
  margin-left: 2rem;
  padding: 0 0.5rem;
  z-index: 10;
  font-size: 4rem;
  overflow: visible;
  font-family: 'Orbitron', sans-serif;
}