
.planetDetailsBackground {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.planetDetailsWrapper {
  width: 65vw;
  height: 85vh;
  border: 0.7rem solid rgb(255, 255, 255);
  position: absolute;
  bottom: 6vh;
  display: flex;
  flex-direction: column;
}

.upperWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
}

.planetDetails {
  width: 50%;
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: large;
  overflow: auto;
}
  
.planetMoon {
  width: 50%;
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: large;
  overflow: auto;
}

.planetDetails h2 {
  font-size: 2rem;
}

.planetMoon h2 {
  font-size: 2rem;
 }

.planetInfo {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: auto;
  border-top: 0.3rem solid rgb(255, 255, 255);
  font-size: large;
}

.planetInfo p {
  margin: 0;
}

legend {
  
  margin-left: 2rem;
  padding: 0 0.5rem;
  z-index: 10;
  font-size: 4rem;
  overflow: visible;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.planet-details-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  display: flex;
  z-index: 11;
}

.favorite-link {
  z-index: 11;
}

.navigation {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
}

.planet-details-btn span {
  margin-right: 2rem;
  position: relative;
  z-index: 1;
  color: whitesmoke;
  font-size: large;
}

.planet-details-btn .fa-star {
  margin-left: -1.1rem;
  font-size: 16px;
}

.planet-details-btn .fa-star.background {
  color: black;
  transform: scale(1.7);
  z-index: 1;
}

.planet-details-btn .fa-star.foreground {
  color: #ffd700;
  z-index: 2;
}